/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222; /* Fundo escuro */
  color: #fff; /* Texto claro */
}

/* Barra de pesquisa */
.barra-pesquisa {
  color: black;
  position: fixed; /* Fixa no topo */
  top: 10px; /* Espaço do topo */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%);
  width: 50%; /* Largura da barra */
  padding: 15px; /* Espaçamento interno */
  border-radius: 25px; /* Bordas arredondadas */
  border: none; /* Remove borda padrão */
  font-size: 18px; /* Tamanho da fonte */
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2); /* Sombra */
  background-color: #f9f9f9; /* Fundo claro */
  z-index: 1000; /* Garante que fique acima de outros elementos */
}

/* Lista de colaboradores */
.conteudo ul {
  list-style-type: none;
  padding: 0;
}

.conteudo .colaborador {
  margin-bottom: 20px;
  text-align: center; /* Centraliza o texto */
}

/* Paginação centralizada na parte inferior */
.paginacao {
  position: fixed; /* Fixa no rodapé */
  bottom: 20px; /* Distância do rodapé */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta o centro horizontalmente */
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 10px; /* Espaçamento entre os botões */
}

/* Estilo para aplicar blur quando o modal está aberto */
#conteudo-principal.blur {
    filter: blur(5px); /* Aplica o efeito de desfoque */
}

#conteudo-principal {
    filter: none; /* Remove o desfoque */
}

/* Estilo para o overlay do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo para o container do modal */
.modal-container {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto; /* Permite scroll no conteúdo do modal */
  }
